body {
    color: white;
    min-width:300px;
    margin: 0px;
}

div, p{
    margin: 3px;
}

#container{
    margin: 1px 3px 1px 3px;
    background-color: #1f1e22;
    border-radius: 5px;
    padding: 5px;
}

p{
    color: rgb(141, 141, 141);
}

h2{
    color: rgb(194, 34, 34);
    margin: 3px 3px 5px 3px;
}

h3{
    margin: 3px;
}

a:link { color: rgb(194, 34, 34); }
a:visited { color: rgb(194, 34, 34); }
a:hover { color: #0084ff; }

#footer {
    margin-top: 15px;
    margin-bottom: 5px;
    color: gray;
}